
suite: Basic Test Cases

should generate a simple class:
  input: '''
    class Test {
    }

  output: '''
    class Test {
    }

should generate simple instance methods:
  input: '''
    class Test {
      public void test() {
      }
    }

  output: '''
    class Test {
      test() {
      }
    }


